{{> head }}
{{> navbar }}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <h1>Rio</h1>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt ullam quos repudiandae blanditiis sunt aut laboriosam autem aperiam, voluptatum facilis, impedit doloremque sapiente labore dolorem fugiat sed enim incidunt illo!
                </p>
            </div>
            <div class="col-md-8">
                <img  src="/assets/img/blue.jpg" class="img-thumbnail" style="max-width: 100%;">
            </div>      
        </div>
    </div>

{{> footer }}